/* Sap new style */
/* quadrado maior 1 */
@media only screen{
.imgrobo {
    width: 150px;
    height: 200px;
    margin: 50px;
}    
body{
    margin: 5px;
}
section{
    display: flex;
}
h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(24, 24, 209);
    margin-left: 50px;
}
h2 {
    font-size: 30px;
    margin-left: 50px;
    margin-top: -5%;
}
#quadradomaior {
    background: rgb(219, 230, 255);
    margin: 10px;
    width: 60%;
    height: 500px;
    border-radius: 10px;
    display: flex;
}
#eclipse{
    background: rgb(24, 24, 209);
    margin-left: 45px;
    width: 250px;
    height: 40px;
    border-radius: 50px;
}
.textoeclipse {
    color: white;
    font-size: 25px;
    transform: translate(20% , -200%);
}
.bolaeclipse {
    background: white;
    margin-left: 300px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transform: translate(-215% , 0%);
}
.flexaeclipse{
    font-size: 30px;
    color: rgb(24, 24, 209);
    transform: translate(88% , -309%);
}
#containertabelaeclipse{
    margin-top: 30px;
}
#eclipsetabela {
    background: rgb(24, 24, 209);
    margin: 10px; 
    width: 400px; /* largura */
    height: 35px; /* Altura */
    border-radius: 50px;
    margin-left: 90px;/* Margem esquerda */
    margin-top: -2%;
}
.textoeclipsetabela {
    color: white;
    font-size: 18px;
    text-align: center;
    transform: translate(0% , 35%);
}
.bolaeclipsetabela{
    background: white;
    margin-left: 370px;
    margin-top: 0%;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    transform: translate(0% , -113%);
}
.flexaeclipsetabela{
    font-size: 20px;
    color: rgb(24, 24, 209);
    transform: translate(0% , -338%);
    margin-left: 378px;
}
/* quadrado menor 1 */
#quadradomenor {
    background: rgb(219, 230, 255);
    margin: 10px;
    width: 38%;
    height: 500px;
    display: flex;
    border-radius: 10px;
}
.textoquadradomenor { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(24, 24, 209);
    margin: 10px;
}
.textomenorquadradomenor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(24, 24, 209);
    margin-left: 0px; 
    transform: translate(0% , -5%);
}
.textoNReq{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(24, 24, 209);
    margin-left: 300px; 
}
/* Quadrado maior 2 */
#quadradomaior2 {
    background: rgb(219, 230, 255);
    margin: 10px;
    width: 60%;
    height: 390px;
    border-radius: 10px;
    display: flex;
}
/* Quadrado menor 2 */
#quadradomenor2 {
    background: rgb(219, 230, 255);
    margin: 10px;
    width: 38%;
    height: 390px;
    display: flex;
    border-radius: 10px;
}
/* Quadrado maior 3 */
#quadradomaior3 {
    background: rgb(219, 230, 255);
    margin: 10px;
    width: 60%;
    height: 470px;
    border-radius: 10px;
    display: flex;
}
    /* quadrado menor 3 */
#quadradomenor3 {
    background: rgb(219, 230, 255);
    margin: 10px;
    width: 38%;
    height: 470px;
    display: flex;
    border-radius: 10px;
}
}