/* Sap new style */
/* quadrado maior 1 */
@media only screen{
.imgrobo {
    width: 150px;
    height: 200px;
    margin: 50px;
}    
.flex{
    display: flex;
}
body{
    margin:10px;
}
section{
    display: flex;
}
.container{
    margin: 30px;
}
h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(24, 24, 209);
    margin-left: 50px;
    margin-bottom: 70px;
}
h2 {
    font-size: 30px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(24, 24, 209);
    line-height: 0.8em 
}
#quadradomaior {
    background: rgb(219, 230, 255);
    margin:10px;
    width: 60%;
    height: 300px;
    border-radius: 10px;
    display: flex;
}
#eclipse{
    background: rgb(24, 24, 209);
    margin-left: 45px;
    width: 150px;
    height: 45px;
    border-radius: 50px;
}
.textoeclipse {
    color: white;
    font-size: 15px;
    transform: translate(15% , -280%);
}
.bolaeclipse {
    background: white;
    margin-left: 300px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    transform: translate(-410% , 0%);
}
.flexaeclipse{
    font-size: 25px;
    color: rgb(24, 24, 209);
    transform: translate(85% , -300%);
}
#containertabelaeclipse{
    margin-top: 0px;
}
#eclipsetabela {
    background: rgb(24, 24, 209);
    margin: -1%; 
    width: 400px; /* largura */
    height: 40px; /* Altura */
    border-radius: 50px;
    margin-left: 100px;/* Margem esquerda */
}
.textoeclipsetabela {
    color: white;
    font-size: 20px;
    text-align: center;
    transform: translate(0% , 35%);
}
.bolaeclipsetabela{
    background: white;
    margin-left: 451px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transform: translate(-205% , -110%);
}
.flexaeclipsetabela{
    font-size: 25px;
    color: rgb(24, 24, 209);
    transform: translate(0% , -328%);
    margin-left: 380px;
}
/* quadrado menor 1 */
#quadradomenor {
    background: rgb(219, 230, 255);
    margin: 10px;
    width: 38%;
    height: 300px;
    border-radius: 10px;
}
.textoquadradomenor { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgb(24, 24, 209);
    margin: 10px;
}
.textomenorquadradomenor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(24, 24, 209);
    margin-left: 160px; 
    transform: translate(0% , -25%);
}
#vertodosospedidos {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: aliceblue;
    margin-left: 30px;
    margin-top: 10px;
}
.mais {
    text-align: center;
    transform: translate(0% , -30%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(24, 24, 209);
    font-size: 15px;
}
.textocabecalho{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(24, 24, 209); 
}
#margem {
    margin-right: 140px;
    margin-left: 20px;
}
#espacoquadradomenor {
    margin-bottom: 10px;
}
#linhatabelamenor {
    width: 665px;
    height: 5px;
    background: aliceblue;
    border-radius: 5px;
    border-color: aliceblue;
    margin-left: 20px;
    margin-top: 10px;
}
#quadradotabela {
    width: 665px;
    height: 40px;
    background: aliceblue;
    margin: 20px;
    border-radius: 10px;
}
.textoquadradotabela {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: black;
    margin-left: 10px;
    transform: translate(0%,-200%);
}
#margem1{
    margin-left: 130px;
}
#margem2{
    margin-left: 80px;
    transform: translate(0% , -30%);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.retangulo1{
    width: 95px;
    height: 31px;
    background:greenyellow;
    color: black;
    font-size: 15px;
    text-align: center;
    transform: translate(0%,-30%);
}
.retangulo2{
    width: 95px;
    height: 31px;
    background:yellow;
    color: black;
    font-size: 15px;
    text-align: center;
    transform: translate(0%,-30%);
}
.retangulo3{
    width: 95px;
    height: 31px;
    background:red;
    color: black;
    font-size: 15px;
    text-align: center;
    transform: translate(0%,-30%);
}
/* Quadrado maior 2 */
#quadradomaior2 {
    background: rgb(219, 230, 255);
    margin: 10px;
    width: 60%;
    height: 280px;
    border-radius: 10px;
}
#vertodosospedidos1 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: aliceblue;
    margin-left: 30px;
    margin-top: 20px;
    }
.mais1 {
    text-align: center;
    transform: translate(0% , -30%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(24, 24, 209);
    font-size: 15px;
    margin-top: 20px;
}
.recomendacao {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(24, 24, 209);
    margin-left: 450px; 
}
.flexaquadrado2 {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 30px;
    color: rgb(24, 24, 209);
}
#retanguloquadrado2 {
    width: 150px;
    height: 200px;
    background: aliceblue;
    margin-inline-start: 20px;
}
.imgquadrado2 {
    width: 120px;
    height: 150px;
    object-fit: fill;
    transform: translate(12% , 0%);
    mix-blend-mode: multiply;
}
.textoimagem2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(24, 24, 209);
    text-align: center;
}
/* Quadrado menor 2 */
#quadradomenor2 {
    background: rgb(219, 230, 255);
    margin: 10px;
    width: 38%;
    height: 280px;
    border-radius: 10px;
}
#eclipsequadradomenor2 {
    width: 630px;
    height: 45px;
    background: aliceblue;
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.imgusuario {
    width: 45px;
    height: 45px;
    object-fit: fill;
    mix-blend-mode: multiply;
}
.textousuario {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: grey;
}
.textousuario1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: grey;
    position:relative;
}
.textomes {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: grey;
    position: absolute;
    text-align: right;
    transform: translate(1600% , -50%);
}
/* Quadrado maior 3 */
#quadradomaior3 {
    background: rgb(219, 230, 255);
    margin:10px;
    width: 60%;
    height: 300px;
    border-radius: 10px;
}
.textomenor3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(24, 24, 209);
    margin-left: 550px;
}
#eclipse3 {
    width: 1085px;
    height: 70px;
    background: aliceblue;
    margin: 10px;
    border-radius: 10px;
}
.textonrpedido {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: black;
    margin-top: 15px;
    margin-left: 10px;
}
#verificado {
    width: 40px;
    height: 40px;
    background-color: rgb(83, 211, 32);
    border-radius: 50px;
    margin: 10px;
    margin-left: 100px;
    text-align:center;
}
.textomenor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin-left: 90px;
}   
#linhaverde {
    width: 200px;
    height: 5px;
    background-color: rgb(83, 211, 32);
    margin-top: 30px;
    transform: translate(-10% , 0);
}
 /* quadrado menor 3 */
#quadradomenor3 {
    background: rgb(219, 230, 255);
    margin: 10px;
    width: 38%;
    height: 300px;
    border-radius: 10px;
}
.texto3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgb(24, 24, 209);
    margin-top: 15px;
    margin-left: 15px;
}
.texto33{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(24, 24, 209);
    margin-left: 120px;
}
.container2 {
    margin: 40px;
}
.imgquadrado3 {
    width: 120px;
    height: 150px;
    object-fit: fill;
    transform: translate(12% , 0%);
    mix-blend-mode: multiply;
}
}